@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import "tailwindcss";

.wii-font {
  font-family: "Varela Round", system-ui, sans-serif;
}

@utility wii-background {
  background-color: #e0dddd;
  background-image: repeating-linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.6) 2px,
    transparent 2px,
    transparent 9px
  );
}
@utility form-background {
  background-color: #e0ddddc9;
  background-image: repeating-linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.6) 2px,
    transparent 2px,
    transparent 9px
  );
}

@utility channel-background {
  background-color: #c4c4bc;
  background-image: repeating-linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.6) 2px,
    transparent 2px,
    transparent 8px
  );
}

/* @utility video-mask {
  -webkit-mask-image: url("data:image/svg+xml;utf8,\
<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 40'>\
<path fill='white' d='M6 0 C35 -1 65 -1 94 0 C97 0 100 3 100 6 \
C101 16 101 24 100 34 C100 37 97 40 94 40 \
C65 41 35 41 6 40 C3 40 0 37 0 34 \
C-1 24 -1 15 0 6 C0 3 3 0 6 0 Z'/>\
</svg>");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  -webkit-mask-position: center;

  mask-repeat: no-repeat;
  mask-size: 100% 100%;
  mask-position: center;

  overflow: hidden;
}
 */

html,
body,
button {
  cursor: url("/cursor.png") 4 16, auto;
}

/* @utility wii-radius {
  border-radius: 11% 14% 12% 14% / 15% 20% 17% 18%;
} */

@utility reflection {
  border-radius: 75% 25% 100% 0% / 52% 0% 100% 48%;
}

@utility button-shadow {
  box-shadow: 11px 10px 1px -5px rgb(195, 185, 192);
}

@font-face {
  font-family: "digi";
  src: url("/fonts/DS-DIGI.TTF") format("truetype");
}
