@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import "tailwindcss";

.wii-font {
  font-family: "Varela Round", system-ui, sans-serif;
}

@utility wii-background {
  background-color: #e0dddd;
  background-image: repeating-linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.6) 2px,
    transparent 2px,
    transparent 9px
  );
}

@utility channel-background {
  background-color: #c4c4bc;
  background-image: repeating-linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.6) 2px,
    transparent 2px,
    transparent 8px
  );
}

html,
body {
  cursor: url("/cursor.png") 4 16, auto;
}

/* @utility wii-radius {
  border-radius: 11% 14% 12% 14% / 15% 20% 17% 18%;
} */

@utility reflection {
  border-radius: 75% 25% 100% 0% / 52% 0% 100% 48%;
}

@utility button-shadow {
  box-shadow: 11px 10px 1px -5px rgb(195, 185, 192);
}

@font-face {
  font-family: "digi";
  src: url("./src/assets/fonts/DS-DIGI.TTF") format("truetype");
}
